{% extends 'base.html' %}

{% block extra_head %}
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<!-- Owl Carousel Theme CSS (optional) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
{% endblock %}

{% block content %}
{% load static %}

<div class="bg-base-300">

  <div class="brightness-50">
    <img src="{% static 'images/portada.jpg' %}" alt="bmw"
      class="object-cover object-center w-full h-96" />
  </div>

  <div class="container mx-auto -mt-10">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 m-0">

      <div class="z-30 py-0 lg:px-10 justify-center h-full w-full p-4 md:p-0">
        <!-- Car image -->
        <div class="rounded-lg overflow-hidden shadow-lg">
            <img class="object-cover w-full" src="{{ car.image_url }}" alt="{{ car.car_model.name }}" />
        </div>
        <!-- Action Buttons -->
        <div class="grid gap-2 mt-4">
            <button class="btn btn-primary w-full w-full ">Contact Dealer</button>
            <div class="divider divider-horizontal"></div>
            <button class="btn btn-secondary w-full w-full">Schedule a Test Drive</button>
        </div>
      </div>


      <div class="z-30 lg:col-span-2 p-4 md:p-0">
        <!-- Title -->
        <div class="bg-purple-800 rounded-lg p-5 shadow-md text-white flex justify-between items-center">
          <div>
              <h1 class="text-3xl font-bold">{{ car.car_model.name }} ({{ car.year }})</h1>
          </div>
          <div class="text-purple-300 text-lg">
              <i class="fas fa-industry fa-sm"></i> {{ car.car_model.brand.name }}
          </div>
        </div>

        <!-- Divider -->
        <div class="lg:divider"></div>
        <!-- Data -->
        {% include './partials/details.html' %}

      </div>

    </div>
  </div>
    <div class="divider font-semibold">Similar Cars</div>
    {% include './partials/similar_cars.html' %}
    <div class="divider font-semibold">Comments</div>
    {% include './partials/comments.html' %}
</div>
{% endblock %}

{% block extra_scripts %}
<!-- jQuery (necessary for Owl Carousel) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop: true, // Loop through the items
        margin: 10, // Space between items
        nav: false, // Show navigation buttons
        autoplay: true, // Enable autoplay
        autoplayTimeout: 3000, // Time in milliseconds before transitioning (3 seconds)
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        autoplayHoverPause: true, // Pause autoplay on hover
        center: true,
        stagePadding: 50,
        responsive: {
            0: {
                items: 1 // Number of items for screens up to 600px
            },
            400: {
                items: 2 // Number of items for screens up to 600px
            },
            600: {
                items: 3 // Number of items for screens from 600px to 1000px
            },
            1000: {
                items: 5 // Number of items for screens 1000px and up
            }
        }
    });
  });

document.body.addEventListener('htmx:afterRequest', (event) => {
    document.querySelector("#comment-content").value = '';
});
</script>
{% endblock %}
