<!-- Hero -->
{% load static %}
<div class="flex justify-center">
  <div class="flex flex-col items-center text-center gap-6 max-w-xl">
    <span class="text-sm text-accent">Car Dealer: The Future of Automotive Excellence</span>

    <h1 class="text-5xl font-bold">Intuitive Car Solutions</h1>

    <span class>
      The future of driving is here. Car Dealer is your gateway to experiencing the next generation of vehicles. Explore our exceptional range of cars and discover the perfect ride for you!
    </span>

    <div class="flex gap-4">
      <a class="btn btn-primary">
        <i class="fa-solid fa-car text-secondary"></i>
        Explore Our Vehicles
        <i class="fa-solid fa-arrow-right text-sm"></i>
      </a>

      <a class="btn btn-neutral">
        Visit Our Blog
        <i class="fa-solid fa-blog"></i>
      </a>
    </div>
  </div>
</div>
