<!-- Navbar -->
{% load static %}
<nav class="navbar justify-between bg-transparent absolute top-0 left-0 right-0 z-50"> <!-- bg-base-300 -->
  <!-- Logo -->
  <a class="btn btn-ghost text-lg" href="{% url 'home' %}">
    <img alt="Logo" src="{% static 'images/logo.svg' %}" class="w-8 drop-shadow-xl" />
    Car Dealer
  </a>

  <!-- Menu for mobile -->
  <div class="sm:hidden">
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost">
        <i class="fa-solid fa-bars text-lg"></i>
      </button>

      <ul tabindex="0"
        class="dropdown-content menu z-[1] bg-base-200 p-4 rounded-box shadow w-64 gap-2 mr-4">
        <li><a>About</a></li>
        <li><a href="{% url 'car_list' %}">Cars</a></li>

        <!-- Acordeón de categorías -->
        <div class="collapse bg-base-200">
          <input type="checkbox" id="categories-toggle" class="collapse-toggle" />
          <label for="categories-toggle" class="collapse-title">
            Categories
          </label>
          <div class="collapse-content overflow-y-auto max-h-32">
            <ul class="menu menu-compact">
              {% for body_type in body_types %}
              <li><a>{{ body_type.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <hr className="divider divider-info my-0"></hr>

        {% if user.is_authenticated %}
          <!-- Sección de logout y avatar para usuarios autenticados -->
          <div class="flex items-center justify-between p-2">
            <div class="avatar placeholder">
              <div class="bg-accent text-neutral-content w-10 h-10 rounded-full flex items-center justify-center">
                <span>{{ user.get_initials }}</span>
              </div>
            </div>
            <div class="flex flex-col">
                <h3 class="font-bold">{{ user.username }}</h3>
                <span class="text-xs text-accent">{{ user.email }}</span>
            </div>
          </div>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-sm btn-outline w-full">Logout</button>
          </form>
        {% else %}
          <!-- Botón de Login para Usuarios No Autenticados -->
          <a class="btn btn-primary btn-sm mt-2 w-full" href="{% url 'page_login' %}">
            <i class="fa-solid fa-rocket"></i>
            Login
          </a>
        {% endif %}
      </ul>
    </div>
  </div>

  <!-- Menu for desktop -->
  <div class="hidden sm:flex gap-2 mx-2 mt-2">
    <a class="btn btn-ghost btn-sm">
      <i class="fa-solid fa-circle-info text-secondary"></i>
      About
    </a>

    <a class="btn btn-ghost btn-sm" href="{% url 'car_list' %}">
      <i class="fa-solid fa-car text-secondary"></i>
      Cars
    </a>

    <!-- Dropdown menu -->
    <div class="dropdown dropdown-end">
      <button class="btn btn-ghost btn-sm">
        <i class="fa-solid fa-tag text-secondary"></i>
        Categories
        <i class="fa-solid fa-chevron-down"></i>
      </button>

      <ul tabindex="0"
        class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
        {% for body_type in body_types %}
        <li><a>{{ body_type.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if user.is_authenticated %}
      <!-- Avatar with Dropdown for Authenticated Users -->
      <div class="dropdown dropdown-bottom dropdown-end">
        <div tabIndex="0" role="button" class="avatar placeholder">
          <div class="bg-neutral text-neutral-content w-9 rounded-full ring-primary ring-offset-primary ring ring-offset-2 mr-2">
            <span>{{ user.get_initials }}</span>
          </div>
        </div>
        <ul tabIndex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] p-2 shadow mt-2">
          <li>
            <div class="flex flex-col">
                <h3 class="font-bold">{{ user.username }}</h3>
                <span class="text-xs text-accent">{{ user.email }}</span>
            </div>
          </li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary btn-sm btn-wide btn-outline">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    {% else %}
      <!-- Login Button for Unauthenticated Users -->
      <a class="btn btn-primary btn-sm" href="{% url 'page_login' %}">
        <i class="fa-solid fa-rocket"></i>
        Login
      </a>
    {% endif %}
  </div>
</nav>
