<section>
  <div class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="text-left">
      <div class="items-center mx-auto lg:inline-flex">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
          <div>
            <p class="text-2xl font-medium tracking-tight sm:text-4xl">
              Find Your Dream Car Today
            </p>
          </div>
          <div class="lg:ml-auto">
            <p class="mt-4 text-lg tracking-tight lg:mt-0">
              Explore our wide selection of new and pre-owned vehicles, tailored financing options, and exceptional customer service to make your car-buying experience smooth and enjoyable.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="pt-12 mx-auto lg:max-w-7xl">
        <dl class="grid grid-cols-1 gap-6 space-y-0 lg:gap-24 lg:grid-cols-3">
          <div>
            <div>
              <p class="text-lg font-medium leading-6">
                Unmatched Customer Experience
              </p>
            </div>
            <div class="mt-2 text-base">
              Our dedicated team is here to ensure that your car-buying journey is seamless, from start to finish. We pride ourselves on providing a personalized experience for each of our customers.
            </div>
          </div>
          <div>
            <div>
              <p class="text-lg font-medium leading-6">
                Wide Range of Vehicles
              </p>
            </div>
            <div class="mt-2 text-base">
              From compact cars to luxury SUVs, our inventory is diverse to meet all your needs and preferences. Each vehicle is inspected to ensure top quality and performance.
            </div>
          </div>
          <div>
            <div>
              <p class="text-lg font-medium leading-6">
                Hassle-Free Financing
              </p>
            </div>
            <div class="mt-2 text-base">
              We offer flexible financing options tailored to your budget. Our financial experts are ready to help you find the best plan to drive away in your new car without stress.
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
