<div class="bg-base-100 text-white rounded-lg p-5">
  Cars
  <!-- Pagination -->
  <div class="join w-full justify-center p-5">
    <button class="join-item btn btn-primary brightness-75">1</button>
    <button class="join-item btn btn-primary brightness-75">2</button>
    <button class="join-item btn btn-disabled btn-outline">...</button>
    <button class="join-item btn btn-primary brightness-75">99</button>
    <button class="join-item btn btn-primary brightness-75">100</button>
  </div>
</div>
