<div class="bg-neutral-800 brightness-150 rounded-lg p-5 mb-4 shadow-md">
    <div class="flex gap-4">
        <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content w-10 h-10 rounded-full ring-offset-2 ring
                {% if comment.user.id == request.user.id %}
                    ring-primary ring-offset-primary
                {% else %}
                    ring-secondary ring-offset-secondary
                {% endif %}
            ">
                <span>{{ comment.user.get_initials }}</span>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex items-center gap-2">
                <h1 class="font-semibold text-gray-200">{{ comment.user.username }}</h1>
                {% if comment.user.is_staff %}
                    <span class="badge bg-yellow-500 text-gray-800 font-bold rounded-full px-4 py-2 shadow-md">Staff</span>
                {% endif %}
            </div>
            <h2 class="text-gray-400">{{ comment.content }}</h2>
        </div>
    </div>
</div>
