 <!-- Comment Section -->
<div class="container mx-auto p-5">
  <div class="mx-auto bg-base-100 p-5 rounded-lg mt-5 shadow-lg">

    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <form method="POST" class="mb-4">
      {% csrf_token %}
      <div class="min-h-[200px]">
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </form>
    {% else %}
    <p class="text-gray-600">You need to be <a href="{% url 'page_login' %}"
        class="text-blue-500 underline">logged in</a> to comment.</p>
    {% endif %}

    <!-- Comment List -->
    <div class="space-y-4">
      {% for comment in comments %}
      <div class="bg-white rounded-lg p-4 shadow-md relative">
        <div class="flex justify-between items-center mb-2">
          <div class="flex items-center space-x-2">
            <div tabIndex="0" role="button" class="avatar placeholder">
              <div
                class="bg-neutral text-neutral-content w-9 rounded-full ring-secondary ring-offset-secondary ring ring-offset-2 mr-2">
                <span>{{ comment.user.get_initials }}</span>
              </div>
            </div>
            <strong class="text-gray-800">{{ comment.user.username }}</strong>
            {% if comment.user.is_staff %}
            <span
              class="bg-yellow-500 text-purple-900 text-xs font-bold rounded-full px-2 py-1 ml-2">Staff</span>
            {% endif %}
            <span class="text-gray-500 text-sm">{{ comment.created_at|date:"F j, Y, g:i a" }}</span>
          </div>
          {% if comment.can_edit_or_delete %}
          <div class="space-x-2">
            <a href="url 'edit_comment' comment.id"
              class="text-blue-500 hover:text-blue-700">Edit</a>
            <a href="url 'delete_comment' comment.id"
              class="text-red-500 hover:text-red-700">Delete</a>
          </div>
          {% endif %}
        </div>
        <p class="text-gray-700">{{ comment.content }}</p>
      </div>
      {% empty %}
      <p class="text-gray-600">No comments yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
