<!-- Comment Section -->
<div class="container p-5 mx-auto bg-base-200 rounded-lg my-10">
  <div>


    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <form id="comment-form"
      hx-post="{% url 'add_comment' %}"
      hx-target="#comment-list"
      hx-swap="afterbegin"
      class="mt-6">
      {% csrf_token %}
      <div class="form-control mb-4 flex flex-col md:flex-row items-start md:items-center">
        <textarea
          name="content"
          placeholder="Write your comment here..."
          class="textarea textarea-bordered w-full bg-base-200 mb-2 md:mb-0 md:mr-2 flex-grow"
          required
        ></textarea>
        <input type="hidden" name="car_id" value="{{ car.id }}">
        <button
          type="submit"
          class="btn btn-primary btn-outline md:w-auto w-full py-0 my-0 h-16"
        >
          Add Comment
        </button>
      </div>
    </form>
    {% else %}
    <p class="text-gray-600">
      If you want to comment you need to be logged in.
      <a href="{% url 'page_login' %}" class="text-primary font-semibold">
        Log in
      </a>
    </p>
    <div class="divider"></div>
    {% endif %}
    <!-- End Comment Form -->


    <!-- Comment List -->
    <ul id="comment-list" class="space-y-4 overflow-y-auto max-h-96">
      {% for comment in comments %}
        {% include './comment.html' %}
      {% endfor %}
    </ul>
    <!-- End Comment List -->


  </div>
</div>
<div class="bg-base-300 p-10">

</div>
