 <div class="lg:bg-purple-600 text-white lg:rounded-lg lg:p-5">

  <!-- Componente Collapse, visible solo en mobile y tablet -->
  <div class="collapse lg:hidden bg-base-200 collapse-arrow">
    <input type="checkbox" class="peer" />
    <div
      class="collapse-title text-lg font-semibold bg-purple-600 text-white peer-checked:bg-purple-600 peer-checked:text-white">
      Filters
    </div>
    <div class="collapse-content bg-purple-600">
      <div class="divider"></div>
      <form method="get">
        <h2 class="text-lg font-semibold mb-2">Options</h2>

        <!-- Filtro Brands -->
        <select class="select select-bordered w-full my-1" name="brand"
          id="mobile-brand">
          <option disabled selected value>Brand</option>
          {% for brand in brands %}
          <option value="{{ brand.name }}">{{ brand.name }}</option>
          {% endfor %}
        </select>

        <!-- Filtro Car Model -->
        <select class="select select-bordered w-full my-1"
          name="body_type" id="mobile-body_type">
          <option disabled selected value>Car Models</option>
          {% for model in car_models %}
          <option value="{{ model.name }}">{{ model.name }}</option>
          {% endfor %}
        </select>

        <!-- Filtro Body Type -->
        <select class="select select-bordered w-full my-1"
          name="body_type" id="mobile-body_type">
          <option disabled selected value>Body Type</option>
          {% for body_type in body_types %}
          <option value="{{ body_type.name }}">{{ body_type.name }}</option>
          {% endfor %}
        </select>

        <div class="divider"></div>

        <!-- Filtro Precio -->
        <h2 class="text-lg font-semibold my-1">Select Max Price</h2>
        <div class="price-range-container">
          <input type="range" id="mobile-price-range" min="0"
            max="{{ max_car_price }}"
            value="{{ default_max_price }}"
            class="range range-xs" />

          <div class="max-price-container my-1">
            <input type="number" name="max_price"
              id="mobile-max_price"
              value="{{ max_price|default:default_max_price }}"
              class="input input-bordered w-full"
              placeholder="{{ max_car_price }}">
          </div>
        </div>

        <div class="divider"></div>

        <!-- Filtro Año -->
        <div class="year-range-container flex justify-between">
          <!-- Rango para el año mínimo -->
          <div class="year-range-item w-full">
            <label for="mobile-min_year_range"
              class="block text-lg font-semibold my-1">Min
              Year</label>
            <input type="range" id="mobile-min_year_range"
              min="{{ min_car_year }}" max="{{ max_car_year }}"
              value="{{ min_year|default:min_car_year }}"
              class="range range-xs" />
            <input type="number" name="min_year"
              id="mobile-min_year" value="{{ min_year }}"
              class="input input-bordered w-full mt-2"
              placeholder="{{ min_car_year }}">
          </div>
          <div class="divider divider-horizontal"></div>
          <!-- Rango para el año máximo -->
          <div class="year-range-item w-full">
            <label for="mobile-max_year_range"
              class="block text-lg font-semibold my-1">Max
              Year</label>
            <input type="range" id="mobile-max_year_range"
              min="{{ min_car_year }}" max="{{ max_car_year }}"
              value="{{ max_year|default:max_car_year }}"
              class="range range-xs" />
            <input type="number" name="max_year"
              id="mobile-max_year" value="{{ max_year }}"
              class="input input-bordered w-full mt-2"
              placeholder="{{ max_car_year }}">
          </div>
        </div>

        <div class="divider"></div>
        <div class="flex justify-end">
          <button type="submit"
            class="btn btn-primary bg-opacity-50 w-full">Apply
            Filters</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Fin Componente Collapse -->

  <!-- Contenido visible solo en desktop -->
  <div class="hidden lg:block">
    <form method="get">
      <h2 class="text-lg font-semibold my-2">Options</h2>

      <!-- Filtro Brands -->
      <select class="select select-bordered w-full my-1" name="brand"
        id="desktop-brand">
        <option disabled selected value>Brand</option>
        {% for brand in brands %}
        <option value="{{ brand.name }}">{{ brand.name }}</option>
        {% endfor %}
      </select>

      <!-- Filtro Car Model -->
      <select class="select select-bordered w-full my-1"
        name="body_type" id="mobile-body_type">
        <option disabled selected value>Car Models</option>
        {% for model in car_models %}
        <option value="{{ model.name }}">{{ model.name }}</option>
        {% endfor %}
      </select>

      <!-- Filtro Body Type -->
      <select class="select select-bordered w-full my-1" name="body_type"
        id="desktop-body_type">
        <option disabled selected value>Body Type</option>
        {% for body_type in body_types %}
        <option value="{{ body_type.name }}">{{ body_type.name }}</option>
        {% endfor %}
      </select>

      <div class="divider"></div>

      <!-- Filtro Precio -->
      <h2 class="text-lg font-semibold my-1">Select Max Price</h2>
      <div class="price-range-container">
        <input type="range" id="desktop-price-range" min="0"
          max="{{ max_car_price }}" value="{{ default_max_price }}"
          class="range range-xs" />

        <div class="max-price-container my-1">
          <input type="number" name="max_price" id="desktop-max_price"
            value="{{ max_price|default:default_max_price }}"
            class="input input-bordered w-full"
            placeholder="{{ max_car_price }}">
        </div>
      </div>

      <div class="divider"></div>

      <!-- Filtro Año -->
      <div class="year-range-container flex justify-between">
        <!-- Rango para el año mínimo -->
        <div class="year-range-item w-full">
          <label for="desktop-min_year_range"
            class="block text-lg font-semibold my-1">Min
            Year</label>
          <input type="range" id="desktop-min_year_range"
            min="{{ min_car_year }}" max="{{ max_car_year }}"
            value="{{ min_year|default:min_car_year }}"
            class="range range-xs" />
          <input type="number" name="min_year" id="desktop-min_year"
            value="{{ min_year }}"
            class="input input-bordered w-full mt-2"
            placeholder="{{ min_car_year }}">
        </div>
        <div class="divider divider-horizontal"></div>
        <!-- Rango para el año máximo -->
        <div class="year-range-item w-full">
          <label for="desktop-max_year_range"
            class="block text-lg font-semibold my-1">Max
            Year</label>
          <input type="range" id="desktop-max_year_range"
            min="{{ min_car_year }}" max="{{ max_car_year }}"
            value="{{ max_year|default:max_car_year }}"
            class="range range-xs" />
          <input type="number" name="max_year" id="desktop-max_year"
            value="{{ max_year }}"
            class="input input-bordered w-full mt-2"
            placeholder="{{ max_car_year }}">
        </div>
      </div>

      <div class="divider"></div>
      <div class="flex justify-end">
        <button type="submit"
          class="btn btn-primary brightness-75 w-full">Apply
          Filters</button>
      </div>
    </form>
  </div>
  <!-- Fin contenido visible solo en desktop -->

</div>
