{% load static %}

<div class="flex py-6 bg-base-300 items-center justify-center w-full">
    <div class="owl-carousel">
        {% for similar_car in similar_cars %}
        <div class="item">
            <a href="{% url 'car_detail' similar_car.id %}" class="block">
            <div class="bg-base-200 flex-shrink-0 relative overflow-hidden rounded-lg max-w-xs shadow-lg"
                style="height: 300px;">
                <svg class="absolute bottom-0 left-0 mb-8" viewBox="0 0 375 283" fill="none"
                    style="transform: scale(1.5); opacity: 0.1;">
                    <rect x="159.52" y="175" width="152" height="152" rx="8"
                        transform="rotate(-45 159.52 175)" fill="white" />
                    <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)"
                        fill="white" />
                </svg>
                <div class="relative pt-10 px-10 flex items-center justify-center" style="height: 200px;">
                    <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                        style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                    </div>
                    <img class="fixed-image-size relative rounded-lg" src="{{ similar_car.image_url }}"
                        alt="{{ similar_car.car_model.name }}"
                        style="width: auto; height: 100%; max-width: 100%; object-fit: contain;">
                </div>
                <div class="relative text-white px-6 pb-6 mt-6">
                    <span class="block opacity-75 -mb-1">{{ similar_car.body_type.name }}</span>
                    <div class="flex justify-between">
                        <span class="block font-semibold text-xl">{{ similar_car.car_model.name }}</span>
                        <span
                            class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">${{ similar_car.price }}</span>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% empty %}
        <p class="text-center text-gray-800 dark:text-white">No similar cars found.</p>
        {% endfor %}
    </div>
</div>
